.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 3px solid black;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

span {
    display: block;
    position: relative;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    border: 8px solid transparent;
    
}

.x::after,
.x::before {
        position: absolute;
        content: "";
        width: 150%;
        height: 8px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        background: #00FFDD;
        border-radius: 5px;
    }

    .x::after {
        transform: translate(-50%, -50%) rotate(45deg);
        opacity: 1;
    }

    .o {
        border-color: #ffa02e;
    }

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n+1) {
    border-left: none;
}

.cell:nth-child(3n+3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}














