.board {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("/src/assest/bg-texture.png"), #1f1f38;
   
}

.header {
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
   
}

.header h1 {
    font-size: 44px;
}

.btn {
    font-size: 0.8rem;
    background-color: #1d2b3a;
    color: #00FFDD;
    border: 2px solid #00FFDD;
    text-transform: uppercase;
    border-radius: 100px;
    padding: .5rem .5em;
    cursor: pointer;
}

.game {
  
   display: grid;
   grid-template-columns: repeat(3, auto);
}